# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled Python files
*.pyc

# Package directories
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Other common files to ignore
*.bak
*.swp
*.swo